@use "./typography" as *;

h1 {
  font-family: "Space Mono", monospace;
  font-size: 10rem;
  color: white;
  text-align: center;

  &:hover {
    transition: 0.3s ease-in-out;
  }
}

a {
  text-decoration: none;
}

body {
  background-image: url(/assets/photo-1520034475321-cbe63696469a.avif);
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

.card {
  display: flex;
  justify-content: space-around;
  transition: 0.3s ease-in-out;
}

img {
  width: 100%;
  height: rem;
}
.card-content {
  margin: 0 auto;
}

p {
  color: white;
}
